body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 40px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  height: 60vh;
  background-color: black;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  width: 60%;
  margin: 25px auto;
  border-radius: 12px;
  padding: 30px;
  background-image: url(/assets/images/hpblack.jpg);
  background-repeat: no-repeat;
  background-size: 880px 420px;
}

.bottom {
  position: sticky;
  height: 100px;
  background-color: darkslategrey;
  color: rgba(255, 255, 255, 0.842);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  font-size: 40px;
  margin-top: 12px;
  cursor: pointer; /* whenever we point to the icons the mouse pointer converts into  a hand symbol */
}
#myProgressBar {
  width: 75vw;
  cursor: pointer;
}
.songItemContainer {
  margin-top: 20px;
}
.songItem {
  height: 31px;
  display: flex;
  background-color: white;
  width: 170%;
  color: black;
  font-size: 70%;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.songItem img {
  width: 22px;
  margin: 0 23px;
  border-radius: 10px;
}

.timeStamp {
  margin: 0 10px;
}
.pointer {
  cursor: pointer;
}
.songInfo {
  position: absolute;
  left: 11vw;
  font-family: fantasy;
}
.songInfo img {
  opacity: 0;
  transition: opacity 1s ease-out;
}
