body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 40px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 60vh;
  background-color: black;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  width: 70%;
  margin: 25px auto;
  border-radius: 12px;
  padding: 30px;
  background-image: url(/assets/images/hpblack.jpg);
  background-repeat: no-repeat;
  background-size: 950px 420px;
}

.bottom {
  position: sticky;
  height: 80px;
  background-color: black;
  color: rgba(255, 255, 255, 0.842);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  font-size: 40px;
  margin-top: 12px;
  cursor: pointer; /* whenever we point to the icons the mouse pointer converts into  a hand symbol */
}
#myProgressBar {
  width: 75vw;
}
