body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 40px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 70vh;
}

.bottom {
  position: sticky;
  height: 130px;
  background-color: black;
  color: rgba(255, 255, 255, 0.842);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#myProgressBar {
  width: 75vw;
}
